.sectionFive {
  max-width: var(--section-max-width);
  width: 100%;
  min-height: 100vh;
	
	margin: auto;
	border: 1px solid #000;
}

.aboutContainer {
	max-width: 1000px;
	margin: auto;
	display: flex;
	gap: var(--spacing-xl);

	padding: var(--spacing-xl);
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--spacing-lg);
	flex: 1;
}

.customImgCard {
	width: 400px;
	border-radius: 0;
}

.title {
	margin-top: var(--spacing-lg);
	font-size: var(--text-h2);
	font-weight: 700;
	text-align: center;
}

.aboutText > p {
	margin: var(--spacing-md) 0;
	line-height: 1.6;
	text-align: center;
}