.btn {
  display: inline-flex;
	align-items: center;
	justify-content: center;

	padding: var(--spacing-sm) var(--spacing-md);

	cursor: pointer;
	border-radius: var(--radius-sm);
	transition: all 0.5s;
	font-weight: 500;
	border: none;

	font-size: var(--text-md);
}

.primary {
	background-color: var(--almost-black);
	color: var(--dirty-white);
	border: 1px solid #000;
}

.primary:hover {
	background-color: var(--dirty-white);
	color: var(--almost-black);
	transition: all 0.5s;
}

.secondary {
	background-color: transparent;
	border: 1px solid #000;
}

.secondary:hover {
	background-color: var(--almost-black);
	color: var(--dirty-white);
	transition: all 0.5s;
}