.lightboxOverlay {
  position: fixed;
  inset: 0;
  background: rgba(10, 10, 10, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.photoContainer {
  position: relative;
  width: 90%;
  height: 80%;
  cursor: default;
  /* border: 3px solid #a13030; */

  display: flex;
  justify-content: center;
  align-items: center;
}

.photoFull {
  display: block;
  width: 100%;
  max-height: 100%;
  /* margin: auto; */
  object-fit: contain;
  height: auto;
}

.navBtn, .closeBtn {
  position: absolute;
  background: none;
  border: none;
  color: white;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.3s;
}

.navBtn:hover, .closeBtn:hover {
  opacity: 0.7;
}

.closeBtn {
  top: 20px;
  right: 30px;
}

.caption {
  position: absolute;
  bottom: -30px;
  width: 100%;
  text-align: center;
  color: white;
}
