.imageGridColumnsCustomStyle {
    width: 300px;
    border-radius: 0;
}

.photoGridColumsContainer {
    width: 100%;
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
    align-items: start;
    gap: var(--spacing-md);
}

.column {
    display: flex;
    flex-direction: column;
}



.border {
    border: 2px solid #000;
}

.photoGridRowsContainer {
    width: 100%;
    display: grid;
    align-items: start;
    gap: var(--spacing-md);

}


.row {
    display: flex;
    width: 100%;
    border: 2px solid #000;
    gap: var(--spacing-md);
    align-items: stretch;
}

.imageContainer {
    /* display: block; */
    /* width: 0; */
    /* object-fit: contain; */
    /* flex-grow: 1.5; */
    /* align-self: stretch; */
    /* object-fit: cover; */
    /* border-radius: 0; */
}
.imageGridRowsCustomStyle {
    width: 100%;
    height: 100%;
}

.verticalRatio {
    flex-grow: 1.5;
}

.horizontalRatio {
    flex-grow: 0.666667;
}

/* 
@media (min-width: 768px) {

    .photoGridContainer {
        display: grid;
        grid-template-columns: repeat(3, 3fr);
        gap: var(--spacing-md);
    }
}

@media (min-width: 1024px) {

    .photoGridContainer {
        display: grid;
        grid-template-columns: repeat(5, 5fr);
        gap: var(--spacing-md);
    }
} */