.nav {
    /* padding: 0 var(--spacing-md); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--almost-black);
    background-color: transparent;
    color: var(--dirty-white);
    height: var(--navbar-height);
    position: relative;
}

.left, .right {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav a {
    padding: var(--spacing-md);
    font-size: var(--text-xl);
    font-weight: 600;
}

.hamburgerMenu {
    display: none;
    background: none;
    border: none;
}

.iconCustom {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 28px;
    background-color: var(--almost-black);
    background-color: transparent;
    color: var(--dirty-white);
    height: var(--navbar-height);
    padding: var(--spacing-md);
}

/* MEDIA QUERIES */
@media (width < 768px) {
    .hamburgerMenu {
        display: block;
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 0;

        position: absolute;
        top: var(--navbar-height);
        left: 0;
        width: 100%;
        
        max-height: 0;
        overflow: 0;
        opacity: 0;
    }

    .right.dropdownMenu {
        max-height: 320px;
        opacity: 1;
        /* padding: var(--spacing-md) 0; */
    }

    .right li {
        padding: var(--spacing-sm) 0;
    }
}