.nav {
    padding: 0 var(--spacing-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--almost-black);
    background-color: transparent;
    color: var(--dirty-white);
    height: var(--navbar-height);
}

.left, .right {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav a {
    padding: 16px;
    font-size: var(--text-xl);
    font-weight: 600;
}