.cardContainer {
    width: 100%;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.vertical {
    aspect-ratio: 2 / 3;
}


.horizontal {
    aspect-ratio: 3 / 2;    
}

.image {
    object-fit: cover;
}