.cardContainer {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: var(--radius-md);
}

.vertical {
    aspect-ratio: 2 / 3;
}


.horizontal {
    aspect-ratio: 3 / 2;    
}

.image {
    object-fit: cover;
}