.sectionFour {
    max-width: var(--section-max-width);
    width: 100%;
    min-height: 100vh;

    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: var(--spacing-xl);
    font-size: var(--text-h2);
    letter-spacing: 0.1em;
}

.subtitle {
    font-size: 24px;
    text-align: center;
    margin: var(--spacing-lg) auto;
    white-space: pre-wrap;
}

.categoriesContainer {
    width: 80%;
    margin: var(--spacing-xl) auto;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8%;
}

.categoryCard {
    width: 100%;
    min-width: 250px;
    border-radius: var(--radius-md);
    transition: .3s;
}




/* MEDIA QUERIES */
@media (480px <= width < 768px) {
    .categoriesContainer {
        grid-template-columns: repeat(1, 1fr);

    }
}



@media (width < 480px) {
    .categoriesContainer {
        grid-template-columns: repeat(1, 1fr);

    }

}